modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:1.0.0", "javascript_openai_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:replit"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
MUSIC_BUCKET_ID = "replit-objstore-f975b4fa-8c7c-4947-8b08-71d240b50926"
VISUALS_BUCKET_ID = "replit-objstore-290b3b05-e1c4-4fd6-bb98-93daca0c24bc"

[objectStorage]
defaultBucketID = "replit-objstore-290b3b05-e1c4-4fd6-bb98-93daca0c24bc"
